ul {
  list-style: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: #319795;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  background: #e2e8f0;
}

.pagination .active {
  color: #319795;
  background: #e2e8f0;
}

.pagination .active:hover {
  color: #234e52;
  background: #fff;
}
